<!DOCTYPE html>
<html>
  <head>    
    <meta charset="utf-8" /> 
    <title>結果</title>
  </head>
  <body>
      <p>君の打ち手<%= clientUchite %></p>
      <p>サーバの打ち手<%= serverUchite %></span></p>
      <p>結果は<%= result %></p>
  </body>
</html>